# Исключить файл .env
.env

# Исключить папку с пользовательскими загрузками
public/uploads/

# Исключить временные файлы
*.log
*.tmp

# Если есть другие ненужные папки или файлы, добавьте их сюда
dist/
build/