<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>O S U ! R I S E</title>
    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="/disableAnimations.css">
    <link rel="stylesheet" href="/news/news.css">
    <link rel="stylesheet" href="/rating-game/rating-game.css">
    <link rel="stylesheet" href="/fast-game/fast-game.css">
    <link rel="stylesheet" href="/fast-game/fastGameMatchmaking.css">
    <link rel="stylesheet" href="/fast-game/fastGameProcess.css">
    <link rel="stylesheet" href="/profile/profile.css">
    <link rel="stylesheet" href="/leaderboard/leaderboard.css">
    <link rel="stylesheet" href="/site-settings/siteSettings.css">
    <link rel="stylesheet" href="/modals/osuAuth/osuAuthModal.css">
    <link rel="stylesheet" href="/addFriends/addFriends.css">
    <link rel="stylesheet" href="/notifications/notifications.css">
    <link rel="stylesheet" href="/modals/toasts/toasts.css"> <!-- Подключаем стили для тостов -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="main-container">
        <div class="header">
            <div class="logo-search">
                <div class="logo">
                    <p><span class="osu-part">OSU!</span><span class="rise-part">RISE</span></p>
                </div>
                <div class="header-search">
                    <img src="img/input.svg" alt="">
                    <input type="text" placeholder="Найти">
                </div>
            </div>
            <div class="action-btns">
                <div class="add-friend-btn nav-item" data-tab="add-friend">
                    <span class="nav-text">Друзья</span>
                    <img class="nav-icon" src="img/addFriends.svg" alt="">
                </div>
                <div class="notif-btn nav-item" data-tab="notifications">
                    <span class="nav-text">Уведомления</span>
                    <img class="nav-icon" src="img/notif.svg" alt="">
                    <span class="notification-count"></span>
                </div>
                <div class="messenger-btn nav-item">
                    <span class="nav-text">Сообщения</span>
                    <img class="nav-icon" src="img/messenger.svg" alt="">
                </div>
                <% if (isAuthenticated) { %>
                    <div class="profile profile-btn" data-osuid="<%= user.osuId %>">
                        <img src="<%= user.customAvatarUrl || user.avatarUrl %>" alt="Профиль">
                    </div>
                <% } else { %>
                    <div class="authOsu-btn">
                        <button>Авторизоваться</button>
                    </div>
                <% } %>
            </div>
        </div>
        <div class="menu-content">
            <div class="menu">
                <div class="news">
                    <div class="glow-effect"></div>
                    <img src="img/earth.svg" alt="">
                    <p>Новости</p>
                </div>
                <div class="rating-game">
                    <img src="img/rating.svg" alt="">
                    <p>Рейтинговая игра</p>
                </div>
                <div class="fast-game">
                    <img src="img/fastgame.svg" alt="">
                    <p>Быстрая игра</p>
                </div>
                <div class="leaderboard">
                    <img src="img/leaderboard.svg" alt="">
                    <p>Лидерборд</p>
                </div>
                <div class="site-settings">
                    <img src="img/siteSettings.svg" alt="">
                    <p>Настройки сайта</p>
                </div>
            </div>
            <div class="content">
 
            </div>
            <div class="toast-container"></div> <!-- Контейнер для тостов -->
        </div>
    </div>
    <script type="module" src="/active.js"></script>
    <script type="module" src="/router.js"></script>
    <script type="module" src="/auth.js"></script>
    <script type="module" src="/leaderboard/leaderboardScrollbar.js"></script>
    <script type="module" src="/news/newsScrollbar.js"></script>
</body>
</html>